{% extends 'base.html' %} {%block content%}
{% load static %}
    <style>
        .agent-card {
            border-radius: 15px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            background-color: #ffffff;
        }
        .btn-custom {
            border-radius: 25px; /* Arrondir les bords du bouton */
        }
        @keyframes swing {
                0% { transform: translateX(0); }
                25% { transform: translateX(-10px); }
                50% { transform: translateX(5px); }
                75% { transform: translateX(-5px); }
                100% { transform: translateX(0); }
            }
    
            .whatsapp-button {
                position: fixed;
                bottom: 20px;
                right: 20px;
                background-color: #ffffff; /* Couleur de fond */
                border: none;
                border-radius: 50%;
                padding: 10px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                cursor: pointer;
                z-index: 1000;
                animation: swing 2s infinite; /* Animation va-et-vient */
            }
    
            .whatsapp-button:hover {
                transform: scale(1.1); /* Effet de zoom au survol */
            }
    
            .whatsapp-button img {
                width: 60px; /* Ajuster la taille de l'image */
                height: 60px; /* Pour maintenir le ratio */
            }
    </style>
    <title>Paiement</title>
</head>
<body>
    <a href="https://wa.me/+243838765900"class="whatsapp-button" target="_blank">
        <img src="{% static 'image/what.png' %}" alt="WhatsApp">
    </a>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 text-center">
                {% load static %}
                <img src="{% static 'image/payement.jpg' %}" class="img-fluid" alt="Image de Paiement"> 
            </div>
            <!-- Liens de paiement à gauche -->
            <div class="col-md-6">
                <h3 class="text-center">Options de Paiement</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="col-md-6 offset-md-3">
                            <div class="shadow-sm p-3 mb-4 bg-body-tertiary rounded d-flex align-items-center">
                                <a href="#" target="_blank" > <img src="{% static 'image/mpesa.png' %}" alt="WhatsApp" width="30" class="me-2">
                                    <span>M-pesa</span></a>
                               
                            </div>
                            <div class="shadow-sm p-3 mb-4 bg-body-tertiary rounded d-flex align-items-center">
                                <a href="#" target="_blank" > <img src="{% static 'image/orange.png' %}" alt="WhatsApp" width="30" class="me-2">
                                    <span>Orange Money</span></a>
                            </div>
                            <div class="shadow-sm p-3 mb-4 bg-body-tertiary rounded d-flex align-items-center">
                                <a href="#" target="_blank" > <img src="{% static 'image/airtel.png' %}" alt="WhatsApp" width="30" class="me-2">
                                    <span>airtel Money</span></a>
                            </div>
                           
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'valide' client.id %}" target="_blank" class="btn btn-info btn-block">verifier statut abonnement</a>
                    </li>
                </ul>
            </div>

            <!-- Image de paiement à droite -->
           
        </div>
    </div>
    <br>
    <h2> Payement mobile money indisponible pour l'instant...
        <h5>pour tout reabonnement contacter le service client trash pour le payement sur place merci pour votre confiance .</h5> </h2>
        
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    {%endblock%}