{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .agent-card {
        border-radius: 15px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        background-color: #ffffff;
    }
    .btn-custom {
        border-radius: 25px; /* Arrondir les bords du bouton */
    }
</style>
<script>
    function disableButton() {
        document.getElementById('presenceButton').disabled = true;
        document.getElementById('paymentStatus').innerText = "Payé";
    }
</script>

<div class="container mt-5">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>BON DE PAYEMENT CLIENT </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Reabonnement <cite title="Source Title">agent flex paie</cite>
        </figcaption>
        <figcaption class="blockquote-footer">
            K2Y1R5971<cite title="Source Title">2025TRASHPICK-UP</cite>
        </figcaption>
        <h5>Bon/ref/DRC/+243/agent</h5>
        <h6>Autorisation_reabonment_client_aprouved</h6>
    </figure>
   
    
    <div class="agent-card mt-4">
        <div class="row">
            <div class="col-md-6">
                <p>Nom : {{ client.nom }}</p>
                <p>Postnom : {{ client.postnom }}</p>
                <p>Prénom : {{ client.prenom }}</p>
                <p>Sexe : {{ client.sex }}</p>
                <p>Commune : {{ client.commune }}</p>
                <p>ref : {{ client.date_enregistrement }}</p>
            </div>
            <div class="col-md-6">
                <p>Email : {{ client.email }}</p>
                <p>Type de Contrat : {{ client.type_contrat }}</p>
                <p>Numéro de Téléphone : {{ client.num_tel }}</p>
                <p>Statut de Paiement : <span id="paymentStatus">{% if client.statut_paiement %}Payé{% else %}Non Payé{% endif %}</span></p>
                <p>paiement_date : {{ client.date_paiement }}</p>
                
        </div>
    

        <div class="mt-4 d-flex justify-content-between">
            {% if user.is_authenticated %}
            <form action="{% url 'delete' client.id %}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet agent ?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
            </form>
           

            <form action="{% url 'renouveler_abonnement' client.id %}" method="post" onsubmit="disableButton();">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-custom" id="presenceButton" 
                    {% if Client.Clien == "True" %} disabled {% endif %}>
                    renouvelement abonnement 
                </button>
            </form>
                {% endif %}
        </div>
    </div>
</div>
<br>
<br>
<br>

{% endblock %}